extends layout

block content
  h1= title
  #articles
    - each article in articles
      div.article
        div.created_at= article.created_at
        div.title 
            a(href="/blog/"+article._id)!= article.title
        div.body= article.body
  a(href="/blog/new") Nuevo Post